body {
background-image:url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

h1 {
     text-align:center;
     background-color:#E6E6FA;
     margin-top:5%;
     margin-bottom:5%;
     font-family: 'CharisSILRegular';
     font-weight: normal;
     font-style:600%;}

     #container {
     align:center;
     margin-top:5%;
     margin-left:auto;
     margin-right:auto;
     margin-bottom:5%;}

     .row{
      position:relative;
      margin-left:10%;
      margin-right:10%;}

     .white{
      border: 1px solid black;
      width: 10%;
      height: 60px;
      background-color:white;
      float:left;
       }

      .black{
       border: 1px solid black;
       width: 10%;
       height: 60px;
       background-color:#787878;
       float:left;
       }

      #clear{
       clear:both;}
