h1 {
     text-align:center;
     background-color:#E6E6FA;
     margin-top:5%;
     margin-bottom:5%;
     font-family: 'CharisSILRegular';
     font-weight: normal;
     font-style:600%;}

     #container {
     align:center;
     margin-top:5%;
     margin-left:5%;
     margin-right:5%;
     margin-bottom:5%;}

     .row{
      position:relative;
      margin-left:5%;
      margin-right:5%;}

      .white{
      border: 1px solid black;
      width: 5%;
      height: 60px;
      background-color:white;
      float:left;}
 
      .black{
      border: 1px solid black;
      width: 5%;
      height: 60px;
      background-color:#787878;
      float:left;}

      #clear{
       clear:both;}
